<%= form_for(@test_answer) do |f| %>
  <% if @test_answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_answer.errors.count, "error") %> prohibited this test_answer from being saved:</h2>

      <ul>
      <% @test_answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-xs-12 col-sm-12 placeholder">
    <div class="col-xs-4 col-xs-offset-4">
      <h2 class="form-signin-heading">Tu nombre</h2>
      <input type="text" id="inputEmail" name="test_answer[username]" class="form-control" placeholder="Ingresa tu nombre" required="" autofocus="">
    </div>
  </div>
  <div class="field">
    <%= f.hidden_field :test_id, :value => @test.id %>
  </div>

  <% Question.all.each do |question| %>
    <h2 class="sub-header"><%= question.name %></h2>
    <div class="table-responsive">
      <table class="table table-striped">
      <tbody>
        <tr>
          <td id="columna_lateral" style="width:35%">
            <div class="alert alert-success" role="alert">
              <p>Estoy de acuerdo</p>
            </div>
          </td>
          <td>
            <div class="alert alert-info" role="alert" style="float: left;margin: 0 auto;width: 100%;">
              <% 5.times do |v| %>
                  <!--<i><%=2-v%></i></br>-->
                  <div style="float: left;margin: 0 auto;width: 20%;">
                    <%= radio_button_tag "questions[#{question.id}]", 2-v %>
                  </div>
              <% end %>
            </div>
          </td>
          <td id="columna_lateral" style="width:35%">
            <div class="alert alert-danger" role="alert">
              <p>No estoy de acuerdo</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>



  <% end %>
  <div class="actions">
    <button type="submit" name="commit" class="btn btn-lg btn-default" value="Finalizar" id="submit">Finalizar</button>
  </div>
<% end %>
