<script src="/assets/js/Chart.js"></script>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 main">
      <h1 class="page-header"><%=@test_answer.test.name%></h1>

      <!--<p id="notice"><%= notice %></p>-->

      <h3>Nombre: <%= @test_answer.username %></h3>

      <h3>Resultado: <%=@result_type%></h3>


      <div style="width:50%">
        <canvas id="canvas" height="450" width="450"></canvas>
      </div>

    </div>
  </div>
</div>

<script>
var radarChartData = {
  labels: ["<%=@metric_totals[0].first.positive_axis%>",
            "<%=@metric_totals[1].first.positive_axis%>",
            "<%=@metric_totals[0].first.negative_axis%>",
            "<%=@metric_totals[1].first.negative_axis%>"],
  datasets: [
    {
      label: "My First dataset",
      fillColor: "rgba(220,220,220,0.2)",
      strokeColor: "rgba(220,220,220,1)",
      pointColor: "rgba(220,220,220,1)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(220,220,220,1)",
      data: [<%=@metric_totals[0].second>0 ? @metric_totals[0].second : 0%>,
              <%=@metric_totals[1].second>0 ? @metric_totals[1].second : 0%>,
              <%=@metric_totals[0].second<0 ? -@metric_totals[0].second : 0%>,
              <%=@metric_totals[1].second<0 ? -@metric_totals[1].second : 0%>]
    }
  ]
};
window.onload = function(){
  window.myRadar = new Chart(document.getElementById("canvas").getContext("2d")).Radar(radarChartData, {
    responsive: true
  });
}
</script>
